.timer {
  float: right;
  margin-right: 600px;
  border: solid;
  height: 50px;
  width: 85px;
  padding: 16px;
  text-align: center;
}

a {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
body {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  font-family: monospace;
  text-align: center;
}
