.timer {
  float: right;
  margin-right: 600px;
  border: solid;
  height: 50px;
  width: 85px;
  padding: 16px;
  text-align: center;
}

body {
  background-color: rgb(145, 142, 142);
  font-family: monospace;
}
